<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleIconFile</key>
    <string>@ICON@</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleGetInfoString</key>
    <string>@EXECUTABLE@ (C) 2011-2017 QuiteRSS Team</string>
    <key>CFBundleSignature</key>
    <string>@TYPEINFO@</string>
    <key>CFBundleExecutable</key>
    <string>@EXECUTABLE@</string>
    <key>CFBundleIdentifier</key>
    <string>org.quiterss.QuiteRSS</string>
    <key>CFBundleName</key>
    <string>@EXECUTABLE@</string>
    <key>CFBundleDisplayName</key>
    <string>@EXECUTABLE@</string>
    <key>CFBundleShortVersionString</key>
    <string>0.18.9</string>
    <key>NSHumanReadableCopyright</key>
    <string>(C) 2011-2017 QuiteRSS Team</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
