[Desktop Entry]
Name=QuiteRSS
Exec=quiterss
Icon=quiterss
Type=Application
GenericName=RSS/Atom feed reader
GenericName[pt]=Leitor de fontes RSS/Atom
GenericName[ru]=Клиент RSS/Atom
Comment=QuiteRSS is a RSS/Atom feed reader written in C++/Qt
Comment[pt]=O Quite RSS é um leitor de fontes RSS/Atom desenvolvido em C++/Qt
Comment[ru]=QuiteRSS — клиент RSS/Atom, написанный на C++/Qt
Terminal=false
Categories=Qt;Network;News;
MimeType=application/rss+xml;application/atom+xml;application/rdf+xml;
X-DBUS-StartupType=none
