[Desktop Entry]
Name=QuiteRSS
Exec=quiterss
Icon=quiterss
Type=Application
GenericName=RSS/Atom feed reader
Comment=QuiteRSS is a RSS/Atom feed reader written in C++/Qt4
Terminal=false
Categories=Qt;Network;News;
X-DBUS-StartupType=none
