/* News Style */

/*Do not delete!*/
/* %1 - newsTextFontFamily */
/* %2 - newsTextFontSize */
/* %3 - newsTitleFontFamily */
/* %4 - newsTitleFontSize */
/* %5 - 0 */
/* %6 - color separator */
/* %7 - news background */
/* %8 - title background */
/* %9 - link color */
/* %10 - title color */
/* %11 - date color */
/* %12 - author color */
/* %13 - text color */
/* %14 - text-align */
/* %15 - direction: ltr or rtl */
/* %16 - "date" text-align */

body {
  overflow: auto;
  margin: 0;
  font-family: %1;
  font-size: %2pt;
  background: %7;
}

td {
  font-family: %1;
  font-size: %2pt;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: %9;
  text-decoration: none;
}

.title {
  color: %10;
  font-family: %3;
  font-size: %4pt;
  text-align: %14;
  dir: %15;
  vertical-align: top;
}
.title a.unread {
  color: %10;
  font-weight: bold;
}

.date {
  color: %11;
  text-align: %16;
  vertical-align: top;
  white-space: nowrap;
}

.author {
  color: %12;
  text-align: %14;
  dir: %15;
  vertical-align: top;
}

a.enclosure {
  color: %12;
}
.enclosureImg {
  max-width: 100%;
}

.titleTable {
  background: %8;
  border-top: 0px solid %6;
  border-bottom: 0px solid %6;
  text-align: %14;
  width: 100%;
  padding: 5px;
}

.newsTable {
  border-top: 1px solid %6;
  text-align: %14;
  dir: %15;
  width: 100%;
  padding: 5px;
  color: %13;
}
